.welcome-main {
  margin: 0% 4%;
}
#login-form {
  display: flex;
  flex-direction: column;
}
#login-form input {
  padding: 13px 0px;
}
#login-form > input:not([type="submit"]) {
  /* margin-bottom: 12px; */
  /* padding-bottom: 12px; */
  /* padding: 13px 0px; */
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: border-bottom 0.5s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

#login-form input:focus {
  border-bottom: 1.5px solid var(--input-focused-yellow);
}

#login-form > input:nth-child(3) {
  margin: 20px 0px;
  /* border: none; */
  background-color: rgba(red, green, blue);
  height: 50px;
  font-weight: 800;
}

#login-form > input[type="submit"] {
  border: none;
  background-color: var(--input-focused-yellow);
  cursor: pointer;
  padding: 20px 0px;
}

#login-form > a {
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
}
