.welcome-main {
  margin: 0% 4%;
}
#login-form {
  display: flex;
  flex-direction: column;
}
#login-form input {
  padding: 13px 0px;
}
#login-form > input:nth-child(1),
input:nth-child(2) {
  /* margin-bottom: 12px; */
  /* padding-bottom: 12px; */
  /* padding: 13px 0px; */
  border: none;
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  font-size: 18px;
  transition: border-bottom 0.5s ease-in-out;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.24);
}

#login-form input:focus {
  border-bottom: 1.5px solid var(--input-focused-yellow);
}

#login-form > input:nth-child(3) {
  margin: 20px 0px;
  border: none;
  background-color: rgba(red, green, blue);
  height: 40px;
  font-weight: 800;
}
